<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="power">
    <!--Insert-->
    <insert id="insertCar">
        insert into t_car(id, car_num, brand, guide_price, produce_time, car_type)
        values(null, #{carNum}, #{brand}, #{guidePrice}, #{produceTime}, #{carType});
    </insert>

    <!--Delete-->
    <delete id="deleteById">
        delete from t_car where id = #{id};
    </delete>
    <delete id="deleteAll">
        delete from t_car;
    </delete>

    <!--Select-->
    <select id="selectById" resultType="">
        select * from t_car where id = #{id};
    </select>
</mapper>
